{{#if messages.info}}
    <div class="alert alert-success" role="alert">{{messages.info}}</div>
{{/if}}

{{#if messages.alert}}
    <div class="alert alert-danger" role="alert">{{messages.alert}}</div>
{{/if}}
