<h1 class="h3 mt-4 text-center">{{application.name}}</h1>
<h4 class="h6 text-center">{{application.app_id}}</h6>

<form action="/app/edit" accept-charset="UTF-8" method="post">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 text-center">
      <div class="form-group">
        <h3 class="mt-4">Custom Answer NCCO</h3>
        <textarea id="voice_answer_ncco" rows="20" class="form-control pre" required="required" name="voice_answer_ncco">{{application.voice_answer_ncco}}</textarea>
      </div>

      <input type="submit" name="commit" value="Update" class="btn btn-primary" />
      <a class="btn btn-secondary" href="/app">Cancel</a>

    </div>
  </div>
</form>