<h1 class="h2 text-center mb-4">New Application setup</h1>

<form action="/app/setup" method="POST">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 text-center">
      <div class="form-group">
        <input class="form-control" placeholder="Application name" required="required" type="text" name="app_name" />
      </div>

      <input type="submit" name="commit" value="Create" class="btn btn-primary mt-2" data-disable-with="Create" />
    </div>
  </div>
</form>