<div class="row mb-4">
  <div class="col-12 col-lg-6">
    <h1>New User</h1>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12 col-lg-6">
    <form action="/users/new" accept-charset="UTF-8" method="POST">
      <div class="form-group">
        <label for="user_user_name">User name</label>
        <input class="form-control" type="text" name="username">
      </div>
      <div class="actions">
        <input type="submit" name="commit" value="Create" class="btn btn-primary">
        <a class="btn btn-secondary" href="/users">Cancel</a>
      </div>
    </form>
  </div>
</div>