.navbar-light {
  .navbar-nav {
    a.nav-link {
      color: #007bff;
      text-decoration: underline;
    }
    .nav-balance {
      font-size: 0.8em;
      padding: 0.3rem 0 0 1rem;
      line-height: 1.2em;
    }
  }
}

.form-auth {
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding-top: 5rem;
  
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}


pre, textarea#voice_answer_ncco {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 0.825em;
  border: 1px solid #ddd;
  background-color: #f5f5f5 !important;;
  padding: 5px;
}

textarea#voice_answer_ncco {
  font-size: 0.85em;
}

form.button_to {
  display: inline;
}


.form-group {
  label {
    font-weight: bold;
    &.simple {
      font-weight: normal;
    }
  }
}
.form-control-url {
  background-color: white !important;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Courier New",monospace;
  font-weight: normal;
  font-size: 0.825em;
  border: 0.5px solid #f5f5f5;
  /* padding: 2px 10px;
  line-height: 1.5em; */
}
.input-group-text-get {
  background-color: #117bb8;
  color: white;
  font-size: 0.9em;
}
.input-group-text-post {
  background-color: #35be8b;
  color: white;
  font-size: 0.85em;
  font-weight: bold;
  padding: 2px 10px;
}